<head>
    <meta charset="utf-8" />
    {{ if .IsHome }}
    <title>{{ .Title }}</title>
    {{ else }}
    <title>Philly CocoaHeads: {{ .Title }}</title>
    {{ end }}
    <link href="https://fonts.googleapis.com/css?family=Raleway:700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css" />
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/typography.css" />

      <link rel="alternate" href="{{ "/index.xml" | absURL }}" type="application/rss+xml" title="{{ .Site.Title }}">

</head>
