{{ partial "header.html" . }}

<h1>{{ .Title }}</h1>

{{ .Content }}

<ul class="pager blog-pager">
    {{ if .PrevInSection }}
    <li class="previous">
        <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">&larr; Previous Episode</a>
    </li>
    {{ end }} {{ if .NextInSection }}
    <li class="next">
        <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">Next Episode &rarr;</a>
    </li>
    {{ end }}
</ul>
