<p>Our book club is seasonal. Every few months we pick a book and work through it as a group. We meet weekly online via GoToMeeting to dicuss the previous week's chapters and code assignments. We'll also take some time to review each other's solutions with constructive critizism.</p>

<p>Book club is a great way to keep your skill set sharp as well as learn from others in the community. Feel free to drop in, even if you are new to the group or the readings assignments. All are welcome, there is endless learning to be had.</p>
