{{ $event := $.Site.Data.events.book_club }}

<section class="event-info">
  <h3>Next Book Club</h3>
  <p>Book Club is on break. See the <br />
    #book-club slack room for discussions<br />
    on the next book and start date.</p>
  <!-- <time datetime="{{$event.date }}">
    {{ dateFormat "Monday, Jan 2, 2006" $event.date }}
  </time>
  <time>{{ $event.start_time }} to {{ $event.end_time }}</time>

  <address>{{ $event.location.name }}</address>
  <p><a href="{{ $event.meetup_url }}">RSVP @ Meetup.com</a></p> -->
</section>
