<section id="event-details">

    <h1>Events</h1>

    <p>Special <a href="/blog/wwdc-2017-stream-event/">WWDC Stream Event</a>, Monday, June 5th 12:30pm - 7pm at IndyHall.</p>

    <section>
        <h2>Main Meeting</h2>
        {{ partial "main-meeting-info.html" . }}
        {{ partial "main-meeting-description.html" . }}
    </section>

    <section>
        <h2>Side Project Saturday</h2>
        {{ partial "side-project-saturday-info.html" . }}
        {{ partial "side-project-saturday-description.html" . }}
    </section>

    <section>
        <h2>Philly CocoaHeads Book Club</h2>
        {{ partial "book-club-info.html" . }}
        {{ partial "book-club-description.html" . }}
    </section>

</section>
