{{ $event := $.Site.Data.events.side_project_saturday }}

<section class="event-info">
  <h3>Next Side Project Saturday</h3>
  <p>The next SPS in-person <br />
    meeting is cancelled. <br />
  See the #side-project-saturday <br />
  slack room for more info.</p>
   <!--<time datetime="{{$event.date }}">
    {{ dateFormat "Monday, Jan 2, 2006" $event.date }}
  </time>
  <time>{{ $event.start_time }} to {{ $event.end_time }}</time>

  <address>{{ $event.location.name }}</address>
  <p><a href="{{ $event.meetup_url }}">RSVP @ Meetup.com</a></p> -->
</section>
