header {
  padding: 1em 2em;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
}

#logo-branding {
  flex-grow: 1;
}

#main-navigation {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

header ol {
  margin: 0;
  padding: 0 0 0.25em 0;
  list-style: none;
  display: inline;
}

header ol li {
  display: inline;
}

#navigation-banner {
  background-color: #00568e;
  color: #f8f8f8;
}
#mission-banner {
  background-image: url(/images/header.jpg);
  background-size: cover;
  background-position: center;
  background-color: #00568e;
  color: white;
  height: 375px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mission-banner section {
  padding: 1em 2em;
  max-width: 700px;
  margin: 0 auto;

}

#content-banner {
  padding: 2em 2em 1em;
  max-width: 960px;
  margin: 0 auto;
}

#content-banner.two-column-container {
  display: flex;
}

#event-details {
  display: inline;
  flex-grow:1;
}

#event-details > h1,
#aside > section:first-child > h1 {
  margin-top: 0;
  margin-bottom: .5em;
}

#event-details > section:first-of-type h2 {
  margin-top: 0;
}

#event-details > section {
  clear: both;
  display: flow-root;
  margin-bottom: 1em;
}

#event-details > section:last-child {
  margin-bottom: 0;
}

#aside {
  display: inline;
  flex-shrink: 0;
  width: 300px;
  margin-left: 3em;
}

#aside > section {
  display: flow-root;
  margin-bottom: 1.75em;
}

#aside > section > h1 {
  margin-top: 0;
  margin-bottom: .5em;
}

#aside > section > p {
  margin-top: 0;
}

#aside > section > p:last-child {
  margin-bottom: 0;
}

#aside > section:last-child {
  margin-bottom: 0;
}

#footer-banner {
  background-color: #eee;
  display: flex;
  justify-content: center;
  clear: both;
}

#footer-banner section {
  padding: 1em 2em;
  max-width: 960px;
  margin: 0 auto;
}

/* About Leadership List */

.leadership {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.leadership li {
  margin-bottom: 1em;
  display: flex;
  width: 450px;
}

.leadership img {
  margin-right: 1em;
  border-radius: 50%;
}

.leadership .info {
  display: inline;
  margin: 0;
  padding: 0;
}

.leadership .info li {
  margin-bottom: 0;
}

.leadership .info li.name {
  font-size: 130%;
  font-weight: bold;
}
