<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Philly CocoaHeads</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css" />
</head>

<body>

<div id="navigation-banner">
  <header>
    <section id="logo-branding">
    <img src="{{ .Site.BaseURL }}images/Philly_CocoaHeads_Logo.png" alt="Philly CocoaHead Logo">
    </section>
    <nav id="main-navigation">
      <ol>
          <li>Home</li>
          <li>Events</li>
          <li>Videos</li>
          <li>Photos</li>
          <li>About</li>
      </ol>
    </nav>
  </header>
</div>
<div id="mission-banner">
mission
</div>
<div id="content-banner">
content
</div>
<div id="footer-banner">
footer
</div>


<!--


  <nav>

  </nav>
    <section id="mission">
        Philly CocoaHeads is the Philadelphia area Mac and iPhone programming group, a chapter of the worldwide CocoaHeads. All skill levels are welcome. The only requirement is an interest in Apple-related technologies and moderate tolerance for geeking out.
    </section>


    <section id="main">
        <section id="event-details">
            Event Details
        </section>
        <aside id="aside">
            Sponsor What's New
        </aside>
    </section>
    <footer>
        <section id="copyright">
            Copyright 2017 Philly CocoaHeads
        </section>
    </footer>
-->
</body>

</html>
