<!DOCTYPE html>
<html lang="en">

{{ partial "head.html" . }}

<body>

    {{ partial "nav.html" . }} {{ partial "mission.html" . }}


    <div id="content-banner" class="two-column-container">

        <section id="event-details">

            <section>

                <h1>Events</h1>

                <section>
                    <h2>Main Meeting</h2>

                    {{ partial "main-meeting-info.html" . }}

                    <p>Our main meeting is held once a month, usually on the second Tuesday of the month. The meeting starts at 6:30pm with a half hour of social pizza time and then breaks into presentations, covering group and industry news. We then have show and tell from the members (10-15m each) and then more formalized main talks (30m each). The meeting ends around 8:30pm but some people usually followup the meeting at a local bar for a drink or two.</p>

                    <p>If you have any questions or would like to present at the meeting, please get in touch with Mike Zornek, <a href="mailto:zorn@phillycocoa.org">zorn@phillycocoa.org</a>.</p>


                </section>

                <section>
                    <h2>Side Project Saturday</h2>

                    {{ partial "side-project-saturday-info.html" . }}

                    <p>Side Project Saturday is an unique opportunity to work on your iOS or Mac projects in a group setting. It's a great chance to get help with your app, share your ideas, get feedback and socialize with other local Apple developers! Beginners are always welcome! Come and go as you please.</p>

                </section>

                <section>
                    <h2>Philly CocoaHeads Book Club</h2>

                    {{ partial "book-club-info.html" . }}

                    <p>Every few months we pick a book and work through it as a group. We meet weekly online via GoToMeeting to dicuss the previous week's chapters and code assignments as well as review each other's solutions with constructive critizism.</p>

                    <p>Book club is a great way to keep your skills sharp as well as learn from others. Feel free to drop in, even if you are new the group or the readings. All are welcome.</p>
                </section>

            </section>


        </section>
        <aside id="aside">

          {{ partial "sponsors.html" . }}

<p><a href="/sponsorship">Learn more about sponsorship.</a></p>

          {{ partial "whatsnew.html" . }}

        </aside>



    </div>

    {{ partial "footer.html" . }}

</body>

</html>
