<!DOCTYPE html>
<html lang="en">

{{ partial "head.html" . }}

<body>

  {{ partial "nav.html" . }}
  {{ partial "mission.html" . }}


    <div id="content-banner" class="two-column-container">

        <section id="event-details">

            <section>

                <h1>Events</h1>

                <section>
                    <h2>Side Project Saturday</h2>
                    <ol>
                        <li>Saturday, Febuary 18 2017</li>
                        <li>10am - 5pm</li>
                        <li>PromptWorks | Map</li>
                        <li>1211 Chestnut Street Suite 400, Philadelphia, PA 19107</li>
                    </ol>
                </section>

                <section>
                    <h2>Philly CocoaHeads Book Club</h2>
                    <ol>
                        <li>Swift Coding Challenges by Paul Hudson</li>
                        <li>Tuesday, Febuary 21 2017</li>
                        <li>8pm - 9pm</li>
                        <li>Online via GoToMeeting</li>
                    </ol>
                </section>

                <section>
                    <h2>Presentation Meeting</h2>
                    <ol>
                        <li>Thursday, March 9 2017</li>
                        <li>6pm - 9pm</li>
                        <li>Apple Store | Map</li>
                        <li>1607 Walnut Street, Philadelphia, PA 19103</li>
                    </ol>
                </section>

            </section>


        </section>
        <aside id="aside">
            <h1>Sponsors</h1>

            <p>
                <a href="http://twilio.com/"><img src="{{ .Site.BaseURL }}images/twilio-logo.png" alt="Twilio Logo"></a></p>


                <p>
                    <a href="http://promptworks.com/"><img src="{{ .Site.BaseURL }}images/promptworks-logo.png" alt="Promptworks Logo"></a></p>




                    <h1>What's New</h1>
                    <ol>
                      <li><strong>2/12</strong> <a href="">Code Review Video</a> posted.</li>
                      <li><strong>2/10</strong> <a href="">Febuary agenda</a> posted.</li>
</ol>

        </aside>



    </div>

    {{ partial "footer.html" . }}

</body>

</html>
